@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --font-cormorant-garamond: "Cormorant Garamond", serif;
        --font-poppins: "Poppins", sans-serif;
    }
}

.font-cormorant {
    font-family: var(--font-cormorant-garamond);
}

.font-poppins {
    font-family: var(--font-poppins);
}



.image-grid-wrapper {
    position: relative;
    overflow-y: hidden;
    --x-offset: -50px;
    --y-offset: -50px;
}

.image-grid-wrapper::before,
.image-grid-wrapper::after {
    content: "";
    background-color: #eeecec;
    ;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    /* background-color: red; */
}

.image-grid-wrapper::before {
    inset: var(--y-offset) var(--x-offset) 0;
}

.image-grid-wrapper::after {
    inset: 0 var(--x-offset) var(--y-offset);
    top: unset;
}

.image-grid {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.image-grid img {
    height: 400px;
}