@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --font-cormorant-garamond: "Cormorant Garamond", serif;
        --font-poppins: "Poppins", sans-serif;
    }
}

.font-cormorant {
    font-family: var(--font-cormorant-garamond);
}

.font-poppins {
    font-family: var(--font-poppins);
}



/* articles */
.article {
    @apply flex flex-col gap-3 font-poppins text-lg tracking-wide mb-2
}
.article > p > img {
    @apply w-1/2 mx-auto
}

.article > h3 {
    @apply text-base font-poppins
}

.article>h2 {
    @apply text-xl font-poppins mt-5 font-semibold
}

/* text color */
.text-color {
    color: black;
}

.dark .text-color {
    color: white;
}


.gray-text-color{
    color: gray;
}

